@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Source+Sans+Pro:400,600&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body{
    background: white;
    color: #333;
    font-family: 'Source Sans Pro', sans-serif;
}

.main{
    display: flex;
    .one{
        background: #FCF0E3;
        height: 100vh;
        img{
            max-width: 80%;
        }
    }
}
footer{
    position: fixed;
    bottom: 10px;
    display: flex;
    justify-content: flex-end;
    width: 99%;
    color: #777;
    font-size: 13px;

    a{
        color: #666;
        text-decoration: none;
        font-weight: 600;
    }
}