@import url("https://fonts.googleapis.com/css?family=Playfair+Display|Source+Sans+Pro:400,600&display=swap");
* {
  margin: 0px;
  padding: 0px;
}

body {
  background: white;
  color: #333;
  font-family: 'Source Sans Pro', sans-serif;
}

.main #first {
  background: #FCF0E3;
  height: 100vh;
  padding: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main #first .wrap {
  width: 40%;
  padding-left: 5%;
  z-index: 10;
}

.main #first .wrap h1 {
  font-size: 3rem;
  margin: 0px;
  line-height: 5rem;
}

.main #first .wrap .hero-title-one {
  -webkit-transform: translateY(-1500px);
          transform: translateY(-1500px);
}

.main #first .wrap .hero-title-two {
  -webkit-transform: translateX(-1500px);
          transform: translateX(-1500px);
}

.main #first .wrap button {
  width: 270px;
  position: relative;
  background: white;
  border: 3px solid #222;
  margin-top: 20px;
  font-size: 2.5rem;
  font-weight: 600;
  color: #f36b7f;
  padding: 5% 0%;
  cursor: pointer;
  letter-spacing: .5rem;
  overflow: hidden;
  -webkit-transform: scale(2);
          transform: scale(2);
  opacity: 0;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  padding-left: 32px;
}

.main #first .wrap button img {
  width: 2rem;
  position: relative;
  top: 2px;
  -webkit-transform: translateX(-32px);
          transform: translateX(-32px);
  opacity: 0;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.main #first .wrap button .question {
  color: #222;
  padding-left: 5px;
}

.main #first .wrap button .bubble {
  position: absolute;
  content: '';
  top: 1.5em;
  left: 50%;
  width: 20em;
  height: 20em;
  opacity: 0.5;
  background: #9fbfff;
  margin-left: -10em;
  border-radius: 44.5%;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-animation: wave 3s infinite linear;
          animation: wave 3s infinite linear;
  -webkit-transition: all .5s ease, top .7s ease;
  transition: all .5s ease, top .7s ease;
}

.main #first .wrap button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
  padding-left: 0px;
}

.main #first .wrap button:hover .bubble {
  opacity: 0;
}

.main #first .wrap button:hover .question {
  display: none;
}

.main #first .wrap button:hover img {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.main #first .wrap button:active, .main #first .wrap button:focus {
  outline: none;
}

@-webkit-keyframes wave {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
  }
  50% {
    -webkit-transform: rotate(180deg) scale(0.975);
            transform: rotate(180deg) scale(0.975);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
  }
}

@keyframes wave {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
  }
  50% {
    -webkit-transform: rotate(180deg) scale(0.975);
            transform: rotate(180deg) scale(0.975);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
  }
}

.main #first .wrap .animate-how {
  background: transparent;
  border: none;
  color: #333;
  overflow: visible;
}

.main #first .wrap .animate-how .bubble {
  display: none;
}

.main #first .wrap .animate-how:hover {
  -webkit-transform: scale(4);
          transform: scale(4);
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.main #first .wrap .animate-how:hover img {
  opacity: 0;
}

.main #first .wrap .animate-how:hover .question {
  display: inline-block;
}

.main #first .img-wrapper {
  opacity: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  -webkit-transform: translateX(-1500px);
          transform: translateX(-1500px);
}

.main #first .img-wrapper img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 60vw;
}

.main #first .quote {
  width: 100%;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.5rem;
  font-family: 'Playfair Display';
  overflow: hidden;
  background: -webkit-gradient(linear, left top, right top, from(#9c6b6b), color-stop(#fff), to(#c58484));
  background: linear-gradient(90deg, #9c6b6b, #fff, #c58484);
  background-repeat: no-repeat;
  background-size: 80%;
  -webkit-animation: shine-over 8s linear 1;
          animation: shine-over 8s linear 1;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
  display: none;
  opacity: 0;
}

.main #first .quote span {
  color: #c58484;
}

@-webkit-keyframes shine-over {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

@keyframes shine-over {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

@media screen and (max-width: 768px) {
  .main #first .wrap h1 {
    width: 60vw;
    font-size: 2.5rem;
    line-height: 4rem;
  }
  .main #first .wrap button {
    font-size: 1.5rem;
    width: 200px;
    line-height: 3rem;
  }
  .main #first .img-wrapper {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .main #first .img-wrapper img {
    width: 80vw;
  }
}

@media screen and (min-width: 1600px) {
  .main #first .wrap h1 {
    font-size: 5rem;
    line-height: 7rem;
  }
  .main #first .wrap button {
    margin-top: 30px;
    width: 400px;
    font-size: 3.5rem;
  }
}

.main #second {
  position: relative;
}

.main #second .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background: url("images/pablo-sign-in.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 83vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main #second h1 {
  width: 99%;
  text-align: center;
  font-size: 2rem;
  position: relative;
  top: 20px;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .1em;
  -webkit-animation: typing 5s steps(30, end);
          animation: typing 5s steps(30, end);
}

@media screen and (max-width: 991px) {
  .main #second h1 {
    -webkit-animation: none;
            animation: none;
    border: none;
    white-space: unset;
    letter-spacing: 0em;
  }
}

.main #second .dotted-bor {
  height: 20px;
  border-bottom: 7px dashed #F8CF61;
}

.main #second .dotted-bor.one {
  height: 40px;
  margin: 0 auto;
  width: 30vw;
}

.main #second .dotted-bor.two {
  width: 12%;
  position: relative;
  top: -10px;
}

.main #second .dotted-bor.three {
  width: 10%;
  left: 37%;
  position: relative;
  top: -10px;
}

.main #second .col-1 {
  width: 25%;
  position: relative;
  top: -13%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.main #second .col-2 {
  width: 60%;
}

.main #second .col-3 {
  width: 9%;
  position: relative;
  top: -13%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.main #second .bubbles {
  font-size: 1.3rem;
  padding: 20px 8px;
  border-radius: 40px;
  background: white;
  width: 173px;
  text-align: center;
  line-height: 2rem;
  margin-bottom: 50px;
}

.main #second .bubbles.bub1 {
  border: 7px solid #82B5A5;
}

.main #second .bubbles.bub2 {
  border: 7px solid #F8CF61;
}

.main #second .bubbles.bub3 {
  border: 7px solid #9FBFFF;
}

.main #second .bubbles.bub4 {
  border: 7px solid #F36B7F;
}

.main #second .next-wrapper {
  width: 100%;
  position: absolute;
  bottom: 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0% 5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main #second .next-wrapper #slide3 {
  width: 30px;
}

@media screen and (max-width: 768px) {
  .main #second .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 30px;
  }
  .main #second .row .col-1, .main #second .row .col-3 {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 0%;
  }
  .main #second .row .col-1 .bubbles, .main #second .row .col-3 .bubbles {
    margin-bottom: 30px;
    padding: 10px 8px;
    font-size: 1.2rem;
  }
  .main #second .next-wrapper {
    bottom: 0%;
  }
}

@-webkit-keyframes typing {
  0% {
    width: 0%;
    border-right: 3px solid #F8CF61;
  }
  70% {
    width: 70%;
    border-right: 3px solid #F8CF61;
  }
  100% {
    width: 99%;
    border-color: transparent;
  }
}

@keyframes typing {
  0% {
    width: 0%;
    border-right: 3px solid #F8CF61;
  }
  70% {
    width: 70%;
    border-right: 3px solid #F8CF61;
  }
  100% {
    width: 99%;
    border-color: transparent;
  }
}

footer {
  position: fixed;
  bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 99%;
  color: #777;
  font-size: 13px;
}

footer a {
  color: #666;
  text-decoration: none;
  font-weight: 600;
}
/*# sourceMappingURL=main.css.map */